body {
  background-color: white;
  margin: 0;
  height: 100%;
  background: url("https://www.control4.com/files/large/153e5f35b68b569");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control-panel {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
}

.control-card {
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  margin-top: 0;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.control-card img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.control-card svg {
  width: 60%;
  height: 60%;
}

@media (max-width: 768px) {
  .control-panel {
    flex-direction: column;
    align-items: stretch;
  }

  .control-card {
    flex: none;
    width: 90%;
    margin: 0.5rem 0;
    height: auto;
  }

  .control-card img,
  .control-card svg {
    width: 50%;
    height: auto;
  }
}